.messenger {

    background-color: black;
    display: block;
    margin: auto;
    width: 100vp;
    height: 100vp;

    p {
        margin: 0;
    }

    .status {
        background-color: black;
        text-align: center;
        color: #eb5e28;
        padding: 10px 0;
    }

    .chatroom {
        background-color: #252422;
        text-align: left;
        padding: 10px 0;
    }

    .msg {
        background-color: #403d39;
        color: #fffcf2;
        padding: 10px;
        margin: 12px 24px;
        border-radius: 8px;
        box-shadow: 0 0 8px 6px #000;
    }

    .msg .user {
        margin: 0;
        color: #eb5e28;
        float: left;
    }

    .msg .time {
        margin: 0;
        color: #ccc5b9;
        float: right;
    }

    .msg .txt {
        margin: 1.6em 0 0 0;
        color: #fffcf2;
    }

    .send {
        display:flex;
        align-items:flex-end;
        width: 100vp;
        height: 5%;
        background-color: black;
        padding: 12px;
    }

    .send input {
        align-items: stretch;
        color: white;
        background-color: #403d39;
        border: 2px solid #eb5e28;
        width: 88%;
        height: 36px;
        border-radius: 8px;

        // border: 0;
        // padding: 10px;
        // width: 90%;
        // margin-right: 0.5%;

    }

    .send button {
        margin: 5px 5px 5px 5px;
        border-radius: 20px;
        border: 5px solid;
        height: 36px;
        align-items:center;
        width: 12%;
        border: none;
        padding: 10px;
    
    }

}