.message-list {
  .toolbar {
    .left-items {
      .ion-ios-menu {
        display: none;
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }
  }
  .message-list-container {
    padding: 10px;
    padding-bottom: 70px;
  }
}