.sign-up {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f4f4f8;
    padding: 0 20px;
    .form {
        max-width: 380px;
        margin: auto;
        form {
            
            margin-bottom: 10px;
        }
        .warning {
            text-align: left;
            margin-top: 20px;
            color: #888;
            line-height: 1.3;
            span {
                color: #eea849;
                font-weight: 600;
            }
        }
    }
    @media screen and (max-width: 960px) {
        width: 100%;
        .form {
            margin-top: 120px;
            margin-bottom: 120px;
        }
    }
}
