.footer {
    background-color: #e2f0ff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
    p {
        font-size: 14px;
        color: #000d1c;
    }
}